@using Core.Dtos
@using Web.Extensions.HtmlHelperExtensions
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-bottom: 100px;">
    <h3>Contact</h3>
    <div id="contactDetailView" class="col-md-8">
        <form class="form-horizontal" style="padding-left: 30px; padding-right: 30px;">
            <div class="form-group">
                <label for="contactName">Contact Name</label>
                <input type="text" class="form-control" id="contactName"/>
            </div>
            <div class="form-group">
                <label for="firstName">Contact Person First Name</label>
                <input type="text" class="form-control" id="firstName"/>
            </div>
            <div class="form-group">
                <label for="lastName">Contact Person Last Name</label>
                <input type="text" class="form-control" id="lastName"/>
            </div>
            <div class="form-group">
                <label for="email">Contact Person Email</label>
                <input type="text" class="form-control" id="email"/>
            </div>
            <div class="form-group">
                <label for="phoneNumber">Contact Person Phone Number</label>
                <input type="text" class="form-control" id="phoneNumber"/>
            </div>

            <button type="button" class="btn btn-primary pull-right">Submit</button>
            <button type="button" id="hideButton" class="btn btn-default pull-right">Hide</button>
        </form>
    </div>
</div>

<div class="row">
    @Html.WithCustomColumn(8,"Edit").TableFor(typeof(ContactDto), "contactTable")    
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            contactController.init('@Html.GetWebServerUri()');
        });
    </script>
}