@using Web.Extensions.HtmlHelperExtensions
@using Web.ViewModels.ListViews.ProductListViews

@{
    ViewBag.Title = "List Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="fa fa-address-card-o" style="margin-right: 5px;"></span>Contact List
    </div>
    <div class="panel-body">
        @Html.WithCustomColumn(6, "Edit").TableFor(typeof(ContactListViewModel), "contactTable")
    </div>
</div>

@section scripts{
    <script>
        var currentPage = "#ContactNav";

        $(document).ready(function () {
            contactController.init('@Html.GetWebServerUri()','@Url.Action("EditContact","Contact")');
        });
    </script>
}