@{
    ViewBag.Title = "List Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="contactTable" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Contact Name</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Contact Partner</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts {
    ContactTableController.init();
}