@using Web.Extensions.HtmlHelperExtensions
@using Web.ViewModels.DetailViews.ProductDetailViews

@{
    ViewBag.Title = "New Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="fa fa-address-card-o" style="margin-right: 5px;"></span>New Contact
    </div>
    <div class="panel-body">
        @Html.WithButton("backButton", "Back").DetailViewFor(typeof(ContactDetailViewModel), "contactDetailView", "Save")
    </div>
</div>

@section scripts{
    <script>
        var currentPage = "#ContactNav";

        $(document).ready(function () {
            contactController.init('@Html.GetWebServerUri()');
        });
    </script>
}