.navbar {
    margin-bottom:-1px;
    border-radius:0;
}

#subnavbar {
    background-color: #000033;
    margin-bottom: 20px;
    padding: 5px;
    height: 62px;
}

.collapsing {
    display:none;
}

.modal-open .modal {
    display: flex !important;
    align-items: center;
    justify-content: center;
}