
@{
    ViewBag.Title = "List Prices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="assetPriceTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Asset Name</th>
            <th>Asset Class</th>
            <th>Isin</th>
            <th>Amount</th>
            <th>Currency</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts{
    Routing.setCurrentPage("#MarketNav");
    AssetPriceTableController.init();
}

public Asset Asset { get; set; }
public int AssetId { get; set; }

public Currency Currency { get; set; }
public int CurrencyId { get; set; }

public DateTime Timestamp { get; set; }

public decimal Amount { get; set; }