@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="accountTable" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Account Name</th>
        <th>Account Number</th>
        <th>Date Opened</th>
        <th>Date Closed</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts{
    routing.setCurrentPage("#AccountNav");
    accountTableController.init();
}