@using Web.Presentation.ViewModels.DashboardViewModels
@model IEnumerable<DashboardWidgetBookmarkViewModel>
<div id="newWidgetForm" style="display: none">
    <div class="form-group">
        <label for="new-widget-name">Widget Name</label>
        <input type="text" id="new-widget-name" class="form-control js-new-widget-name" />
    </div>
    <br/>
    <div class="form-group">
        <label for="new-widget-bookmark">Widget Bookmark</label>
        <select id="new-widget-bookmark" class="form-control js-new-widget-bookmark">
            @foreach (var bookmark in Model)
            {
                <option value="@bookmark.Id">@Html.Raw(bookmark.Name)</option>
            }
        </select>
    </div>
    <br/>
    <div class="form-group">
        <div class="row">
            <!-- data_show_subtext data_live_search -->
            <span class="col-md-3">
                <button class="new-widget-caret-left btn btn-block"><span class="fa fa-caret-left"></span></button>
            </span>
            <span class="col-md-2 new-widget-icon-spinner" style="margin-top: 10px;"></span>
            <span class="col-md-3">
                <button class="new-widget-caret-right btn btn-block"><span class="fa fa-caret-right"></span></button>
            </span>
        </div>
    </div>
</div>