<div id="newWidgetForm" style="display: none">
    <div class="form-group">
        <label for="new-widget-name">Widget Name</label>
        <input type="text" id="new-widget-name" class="form-control js-new-widget-name" />
    </div>
    <br/>
    <div class="form-group">
        <label for="new-widget-url">Widget Url</label>
        <input type="text" id="new-widget-url" class="form-control js-new-widget-url" />
    </div>
    <br/>
    <div class="form-group">
        <div class="row">
            <span class="col-md-3">
                <button class="new-widget-caret-left btn btn-block"><span class="fa fa-caret-left"></span></button>
            </span>
            <span class="col-md-2 new-widget-icon-spinner"></span>
            <span class="col-md-3">
                <button class="new-widget-caret-right btn btn-block"><span class="fa fa-caret-right"></span></button>
            </span>            
        </div>
    </div>
</div>