@model Web.ViewModels.DashboardViewModels.DashboardWidgetViewModel
<div class="col-md-3 col-sm-6">
    <div class="dashboard-widget">
        <a href="@Model.Url"></a>
        <div class="row">
            <div class="col-md-6 widget-title">
                @Model.Name
            </div>
            <div class="col-md-6">
                <span class="@Model.Icon pull-right"></span>
            </div>        
        </div>
    </div>    
</div>
