@model Web.Presentation.ViewModels.DashboardViewModels.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    @foreach (var widget in Model.UserWidgets)
    {
        Html.RenderPartial("_Widget",widget);
    }    
</div>

<div id="newWidgetForm" style="display: none">
    <div class="form-group">
        <label for="new-widget-name">Widget Name</label>
        <input type="text" id="new-widget-name" class="form-control" />
    </div>
    <div class="form-group">
        <label for="new-widget-name">Widget Url</label>
        <input type="text" id="new-widget-url" class="form-control" />
    </div>
    <div class="form-group">
        <span class="col-md-3">
            <button class="btn btn-block"><span class="fa fa-caret-left"></span></button>    
        </span>
        <span class="col-md-2 new-widget-icon-spinner">
        </span>
        <span class="col-md-3">
            <button class="btn btn-block"><span class="fa fa-caret-right"></span></button>
        </span>
    </div>
</div>

@section scripts {
    NewWidgetWindowController.init();
}