@model Web.Presentation.ViewModels.DashboardViewModels.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    @foreach (var widget in Model.UserWidgets)
    {
        Html.RenderPartial("_Widget",widget);
    }    
</div>

@Html.Partial("_NewWidgetForm")

@section scripts {
    NewWidgetWindowController.init();
}