@model Web.Presentation.ViewModels.DashboardViewModels.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        @foreach (var widget in Model.UserWidgets)
        {
            Html.RenderPartial("_Widget", widget);
        }        
    </div>
</div>

@Html.Partial("_NewWidgetForm")

@section scripts {
    NewWidgetWindowController.init();
}