@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="portfolioTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Portfolio Name</th>
            <th>Portfolio Number</th>
            <th>Account Number</th>
            <th>Account Owner</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts {
    routing.setCurrentPage("#PortfolioNav");
    portfolioTableController.init();
}

