@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-4">
    <table id="portfolioSelectionTable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Portfolio Id</th>
                <th>Portfolio Name</th>
                <th>Portfolio Number</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="col-md-8">
    <table id="portfolioReturnsTable" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Asset Name</th>
                <th>Asset Class</th>
                <th>Asset ISIN</th>
                <th>Holding Period Return</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div class="col-md-8">

</div>

<div id="portfolioReturnsForm" style="display: none">
    <div class="container-fluid">
        <form id="calculation-datepicker"></form>        
    </div>
</div>

@section scripts {
    PortfolioSelectionTableController.init();
}

