@{
    ViewBag.Title = "Error - Internal";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="row">
    <i class="fa fa-exclamation-triangle"></i>
</div>

<div class="row">
    Sorry about this! <br />

    An Internal Server Error occurred. Please contact your administrator.
</div>


