@{
    ViewBag.Title = "Error - Resource Not Found";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="row">
    <i class="fa fa-exclamation-triangle"></i>
</div>

<div class="row">
    Sorry about this! <br />

    We weren't able to find what you are looking for
</div>


