@{
    ViewBag.Title = "Error - Unauthorized";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="row">
    <i class="fa fa-exclamation-triangle"></i>
</div>

<div class="row">
    Not Authorized! <br />

    I don't you should be here.
</div>


