@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="partnerTable" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Type</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts{
    routing.setCurrentPage("#PartnerNav");
    partnerTableController.init();
}