<div id="accountSelectionTableContainer" style="display:none">
    <table id="accountSelectionTable" class="display">
        <thead>
            <tr>
                <th>Account Name</th>
                <th>Account Number</th>            
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>