<!-- TODO: Create a helper for selection generation, bootbox popup will be added for selection -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <span class="fa fa-gears" style="margin-right: 5px;"></span>Quick Selection
    </div>
    <div class="panel-body">
        <ul class="nav nav-pills nav-justified">
            <li class="active"><a id="selection-js-select-partner"><span class="fa fa-users" style="margin-right: 5px;"></span>By Partners</a></li>
            <li><a id="selection-js-select-portfolio"><span class="fa fa-book" style="margin-right: 5px;"></span>By Portfolios</a></li>
            <li><a id="selection-js-select-container"><span class="fa fa-folder" style="margin-right: 5px;"></span>By Containers</a></li>
        </ul>
        <div id="selection-by-partner" class="form-horizontal" style="padding: 30px;">
            <div class="form-group">
                <label class="label label-primary" for="selection-partnername">Partner Name</label>
                <input type="text" class="form-control" id="selection-partnername" />
            </div>
            <div class="form-group">
                <label class="label label-primary" for="selection-partnernumber">Partner Number</label>
                <input type="text" class="form-control" id="selection-partnernumber" />
            </div>
        </div>

        <div id="selection-by-portfolio" class="form-horizontal" style="padding: 30px; display: none;">
            <div class="form-group">
                <label class="label label-primary" for="selection-portfolioname">Portfolio Name</label>
                <input type="text" class="form-control" id="selection-portfolioname" />
            </div>
            <div class="form-group">
                <label class="label label-primary" for="selection-portfolionumber">Portfolio Number</label>
                <input type="text" class="form-control" id="selection-portfolionumber" />
            </div>
        </div>

        <div id="selection-by-container" class="form-horizontal" style="padding: 30px; display: none;">
            <div class="form-group">
                <label class="label label-primary" for="selection-containername">Container Name</label>
                <input type="text" class="form-control" id="selection-containername" />
            </div>
            <div class="form-group">
                <label class="label label-primary" for="selection-containernumber">Container Number</label>
                <input type="text" class="form-control" id="selection-containernumber" />
            </div>
        </div>
        <button id="selection-search-button" type="button" class="btn btn-primary pull-right" style="margin: 20px;">Search</button>
    </div>
</div>