@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="reportTable" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Report Name</th>
        <th>Report Description</th>
        <th>Download</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts {
    routing.setCurrentPage("#ReportNav");
    reportTableController.init();
}
